In [1]:
import pandas as pd
import numpy as np

In [2]:
data=pd.read_csv('./wb_school_task_1.csv.gzip', compression='gzip')

In [3]:
data

          user_id  item_id                    order_ts
0          550614      264  2023-01-01 00:28:09.000000
1          571051      580  2023-01-01 00:41:47.000000
2          571051      180  2023-01-01 00:41:47.000000
3           47164     5135  2023-01-01 00:53:35.000000
4          219072     2668  2023-01-01 01:02:29.000000
...           ...      ...                         ...
21265779   249269      348  2023-03-31 23:55:37.182803
21265780   373951     3835  2023-03-31 23:59:24.148327
21265781   505474     1340  2023-03-31 23:59:24.161567
21265782  1011023      153  2023-03-31 23:59:38.371329
21265783   756570     6623  2023-03-31 23:59:51.669277

[21265784 rows x 3 columns]

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21265784 entries, 0 to 21265783
Data columns (total 3 columns):
 #   Column    Dtype
---  ------    -----
 0   user_id   int64
 1   item_id   int64
 2   order_ts  object
dtypes: int64(2), object(1)
memory usage: 486.7+ MB

Проверим что в данных нет пустот

In [5]:
data.isna().sum()

user_id     0
item_id     0
order_ts    0
dtype: int64

проверим данные на дубликаты.

In [6]:
data.duplicated().sum()

2006497

Дубликаты означают что пользователь купил 2 или больше товара одновременно.

Проанализируем данные по датам:

In [7]:
data['order_ts'].min()

'2023-01-01 00:00:05.000000'

In [8]:
data['order_ts'].max()

'2023-03-31 23:59:59.947831'

Выходит, у нас есть данные за 3 месяца. Посмотрим какой из пользователей был самым активным:

In [10]:
data['user_id'].value_counts()

173306    4088
815043    3059
305110    2919
42097     2572
570310    2258
          ...
548029       1
568776       1
468775       1
720039       1
342597       1
Name: user_id, Length: 1057265, dtype: int64

И какой товар самый популярный:

In [12]:
data['item_id'].value_counts()

192     495126
69      397733
390     331207
11      317840
357     308927
         ...
5475         1
4361         1
7776         1
7882         1
7384         1
Name: item_id, Length: 6562, dtype: int64

In [ ]:
Товар 192 заказали почти полмиллиона человек

In [ ]:
data['order_ts'].hist()

Далее нужно удалить аномальные значения и создать матрицу взаимодействий между пользователями и товарами, где строки соответствуют пользователям, а столбцы - товарам. В ячейке матрицы может быть значение 1 (если пользователь купил данный товар) или 0 (если пользователь не покупал этот товар). Вычислить косинусную сходство между пользователями, найти наиболее схожих пользователей и получить списки рекомендай для каждого пользователя.